<app-header></app-header>
<div class="row no-gutters mx-0 position-relative">
    <div class="col-lg-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9">
        <div class="layout-section">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>