@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$indigo:  #6610f2;

body    {
    font-family: 'Roboto', sans-serif !important;
}

.layout-section {   
    height: calc(100vh - 140px);
    overflow: auto;
}
.text-purpule{
    color: $indigo !important;
}

.btn    {
    box-shadow: none !important;
}

.fs-30  {
    font-size: 30px;
}

.command-section    {
    background-color: #80808045;
    padding: 8px 16px;
    border-radius: 4px;
    display: inline-block;
}