<div class="container my-4">
    <div class="text-center">
        <h2>Angular Basic</h2>
    </div>
    <div class="mt-3">
        <h2>What is Angular?</h2>
        <p>
            Angular is a TypeScript-based open-source front-end platform that
            makes it easy to build applications with in web/mobile/desktop.
            The major features of this framework such as declarative
            templates, dependency injection, end to end tooling, and many more
            other features are used to ease the development.
        </p>
        <h2>What is TypeScript?</h2>
        <p>
            TypeScript is a typed superset of JavaScript created by
            Microsoft that adds optional types, classes, async/await, and
            many other features, and compiles to plain JavaScript. Angular
            built entirely in TypeScript and used as a primary language.
            You can install it globally as
        </p>
        <div class="command-section">
            <p class="mb-0">
                npm install -g typescript
            </p>
        </div>
        <h2 class="mt-3">What is the difference between AngularJS and Angular?</h2>
        <p>
            Angular is a completely revived component-based framework in which
            an application is a tree of individual components.<br /> Some of the
            major difference in tabular form --
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>AngularJs</th>
                    <th>Angular</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of diffrent">
                    <td>{{data.id}}</td>
                    <td>{{data.angularjs}}</td>
                    <td>{{data.angular}}</td>
                </tr>
            </tbody>
        </table>
        <h2 class="mt-3">How an Angular App Work Behind The Scenes?</h2>
        <p>Working flow of angular project-</p>
        <div class="row">
            <div class="col-sm-5 mt-4">
                <h3>Step 1</h3>
                <h4>Angular looks for the entry point of the application.</h4>
                <p>
                    To find the entry point, angular looks into the main property
                    of the <span class="text-primary">angular.json </span> file
                    of this project, under the <span class="text-primary"> build
                        section</span>, you can see the <span class="text-primary">
                        options object</span> as follows. It has a reference to the
                    <span class="text-primary">main.ts</span> file which tells
                    the builder to start the app from there. Now angular has
                    found the entry point, see in image 1. Let’s move on step two.
                </p>
            </div>
            <div class="col-sm-7 mt-4">
                <img src="assets/images/1.png" class="img-fluid">
                <p>Image 1</p>
            </div>
            <div class="col-sm-5 mt-4">
                <h3>Step 2</h3>
                <h4>The <span class="text-success">main.ts</span> file creates a
                    browser environment and loads the module.
                </h4>
                This entry point is defined in the internals of
                <span class="text-purpule"> webpack </span> that is used by
                Angular to support the modular functionality. The path/name of
                the main file can be changed but it should also be changed in
                <span class="text-purpule">angular.json</span> file.
                <span class="text-purpule">Main.ts</span> helps in creating
                the <span class="text-purpule"> browser environment</span>
                for the application to run. This is done by:<br />
                <div class="text-secondary">
                    <p>{{displaydata}}</p>
                </div>
                After this, <span class="text-purpule">main.ts</span> file
                calls the function <span class="text-purpule">
                    bootstrapModule(AppModule)</span> which tells the builder to
                bootstrap the app.<br /> All angular applications require a
                <span class="text-purpule">browser environment</span> to run
                and, to create an angular application, we require a module. <br />
                Creating a browser environment and loading the module gets done
                in a single step inside the main.ts file:<br />
                <span class="text-secondary">
                    platformBrowserDynamic().bootstrapModule(AppModule)
                </span><br />
                <span class="text-purpule">platformBrowserDynamic()</span>
                creates a browser environment and, <span class="text-purpule">
                    bootstrapModule()</span> loads the module. See in image 2
            </div>
            <div class="col-sm-7 mt-4">
                <img src="assets/images/2.PNG" class="img-fluid">
                <p>Image 2</p>
            </div>
            <div class="col-sm-6 mt-4">
                <h3>Step 3</h3>
                <h4>The angular compiler looks inside the bootstrap property of
                    the AppModule.
                </h4>
            </div>
            <div class="col-sm-6 mt-4">
                <img src="assets/images/3.PNG" class="img-fluid">
                <p>Image 3</p>
            </div>
            <div class="col-sm-6 mt-3">
                <h3>Step 4</h3>
            </div>
            <div class="col-sm-6 mt-3">
                <img src="assets/images/4.PNG" class="img-fluid">
                <p>Image 4</p>
            </div>
            <div class="col-sm-6 mt-3">
                <h3>Step 5</h3>
            </div>
            <div class="col-sm-6 mt-3">
                <img src="assets/images/5.PNG" class="img-fluid">
                <p>Image 5</p>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-between mt-4">
        <button type="button" class="btn btn-primary mr-4" [routerLink]="['/Home']"><i
                class="fas fa-arrow-left mr-2"></i>Back</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/basic']">Next<i
                class="fas fa-arrow-right ml-2"></i></button>
    </div>
</div>