footer{
    // position: fixed;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // z-index: 100;
    padding: 20px 0;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.15);
    background-color: #f8f9fa;
}