.sidebar{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    padding: 20px 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.06);
    background-color: #f8f9fa;
    height: 100%;
}