<div class="container">
    <div class="d-flex align-items-center">
        <div class="d-flex align-items-center mt-3 mr-4">
            <button type="button" class="btn btn-primary mr-4" [routerLink]="['/basic']">Basic</button>
            <i class="fas fa-long-arrow-alt-right fs-30"></i>
        </div>
        <div class="d-flex align-items-center mt-3 mr-4">
            <button type="button" class="btn btn-primary mr-4" [routerLink]="['/basic']">Basic</button>
            <i class="fas fa-long-arrow-alt-right fs-30"></i>
        </div>
    </div>
</div>